<!-- experiencia-->
<section id="experiencia">
    <div class="container mt-3">
        <h1 class="text-center">Experiencia <button *ngIf="usuarioAutentificado" id="editarExperiencia"><i class='fas servicesIcon fa-feather'></i></button></h1>
        <div class="row">
            <div *ngFor="let item of experiencia" class="col-lg-4 mt-4">
                <div class="laburo card">
                    <img class="card-img-top" [src]="item.logo" alt="2011" style="width:100%; height:auto">
                    <div class="card-body">
                        <h4 class="card-title"id="trabajo">{{item.empresa}}</h4>
                        <p class="card-text text-center"id="puesto">{{item.puesto}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
