<!-- experiencia-->
<section id="experiencia">
    <div class="container mt-3">
        <h1 class="text-center">Experiencia <button id="editarExperiencia"><i class='fas servicesIcon fa-feather'></i></button></h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="laburo card">
                    <img class="card-img-top" [src]="experiencia[0].logo" alt="2011" style="width:100%; height:auto">
                    <div class="card-body">
                        <h4 class="card-title"id="trabajo1">{{experiencia[0].empresa}}</h4>
                        <p class="card-text text-center"id="puesto1">{{experiencia[0].puesto}}</p>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="laburo card">
                    <img class="card-img-top" [src]="experiencia[1].logo" alt="2013" style="width:100%; height:auto">
                    <div class="card-body">
                        <h4 class="card-title"id="trabajo2">{{experiencia[1].empresa}}</h4>
                        <p class="card-text text-center"id="puesto2">{{experiencia[1].puesto}}</p>
                        </div>
                    </div>
            </div>
  
            <div class="col-lg-4 mt-4">
                <div class="laburo card">
                    <img class="card-img-top" [src]="experiencia[2].logo" alt="2017" style="width:100%; height:auto">
                    <div class="card-body">
                        <h4 class="card-title"id="trabajo3">{{experiencia[2].empresa}}</h4>
                        <p class="card-text text-center"id="puesto3">{{experiencia[2].puesto}}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
  </section>
