<!-- experiencia-->
<section id="experiencia">
    <div class="container mt-3">
        <h1 class="text-center">Experiencia</h1>
        <div class="row">
            <div *ngFor="let item of experiencia" class="col-lg-4 mt-4">
                <div class="laburo card">
                    <img class="card-img-top" [src]="item.logo" alt="2011" style="width:100%; height:auto">
                    <button id="editarExperiencia" data-bs-toggle="modal" data-bs-target="#experienciaModalEditar" (click)="mostrarDatos(item.id)"><i class='fas servicesIcon fa-feather'></i></button>
                    <button id="eliminarExperiencia" data-bs-toggle="modal" data-bs-target="#experienciaModalBorrar" (click)="almacenarPosicion(item.posicion)"><i class='fas servicesIcon fa-trash'></i></button>
                    <div class="card-body">
                        <h4 class="card-title text-center"id="trabajo">{{item.empresa}}</h4>
                        <p class="card-text text-center"id="puesto">{{item.puesto}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- Modal Edicion-->
<div class="modal fade" id="experienciaModalEditar" tabindex="-1" aria-labelledby="experienciaModalEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="experienciaModalLabel">Editar Seccion: Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarFormulario()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editarExperiencia">
                <div class="mb-1">
                  <label for="expLogo" class="form-label" >Logo de Empresa</label>
                  <input type="text" class="form-control" id="expLogo"  formControlName="edicionLogo">
                  <div *ngIf="expLogo?.invalid && expLogo?.touched">
                    <div *ngIf="expLogo?.errors?.['minlenght']" class="text-danger">
                      Debera especificar la ruta de la imagen mediante web ('https://') o link local.
                    </div>
                  </div>
                </div>
                <div class="mb-1">
                    <label for="experienciaEmpresa" class="form-label" >Empresa</label>
                    <input type="text" class="form-control" id="experienciaEmpresa"  formControlName="edicionEmpresa">
                    <div *ngIf="expEmpresa?.invalid && expEmpresa?.touched">
                        <div *ngIf="expEmpresa?.errors?.['required']" class="text-danger">
                          Nombre de la Empresa es requerido.
                        </div>
                        <div *ngIf="expEmpresa?.errors?.['minlenght']" class="text-danger">
                          El nombre debera tener un minimo de 3 caracteres.
                        </div>
                      </div>
                  </div>
                  <div class="mb-1">
                    <label for="experienciaPuesto" class="form-label" >Puesto de Trabajo</label>
                    <input type="text" class="form-control" id="experienciaPuesto"  formControlName="edicionPuesto">
                    <div *ngIf="expPuesto?.invalid && expPuesto?.touched">
                        <div *ngIf="expPuesto?.errors?.['required']" class="text-danger">
                          Puesto de trabajo es requerido.
                        </div>
                        <div *ngIf="expPuesto?.errors?.['minlenght']" class="text-danger">
                          El puesto de trabajo debera tener un minimo de 5 caracteres.
                        </div>
                      </div>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrarExperiencia" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarFormulario()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Borrar-->
  <div class="modal fade" id="experienciaModalBorrar" tabindex="-1" aria-labelledby="experienciaModalBorrarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Borrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Esta seguro de que desea continuar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrarBorrarExperiencia" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="eliminar()">Aceptar y Borrar</button>
        </div>
      </div>
    </div>
  </div>
  
