<!-- contacto-->
<section id="contacto">
    <div class="container mt-3 contactContent">
        <h1 class="text-center">Contacto</h1>
  
        <div class="row mt-4">
            <div class="col-lg-6">
                <div style="max-width:100%;overflow:hidden;resize:none;max-width:100%;width:500px;height:500px;"><div id="googlemaps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=argentina,+Buenos+Aires,+Lujan,+M.+Erezcano+646&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="codefor-google-map" rel="nofollow" href="https://www.embed-map.com" id="grabmap-info">https://www.embed-map.com</a><style>#googlemaps-display img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>
            </div>
  
            <div class="col-lg-6">
                <!-- formulario -->
                <form>
                    <input type="text" class="form-control form-control-lg" placeholder="Nombre">
                    <input type="email" class="form-control mt-3" placeholder="Email">
                    <input type="text" class="form-control mt-3" placeholder="Asunto (Sugerencia: Calificacion)">
                    <div class="mb-3 mt-3">
                        <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Por favor detalle los aspectos a mejorar sobre este proyecto. Gracias por su tiempo:"></textarea>
                    </div>
                </form>
                <button type="button" class="btn btn-primary mt-3" style="background-color: #33bbeb;"id="enviarCorreo">Enviar Calificacion</button>             
            </div>
        </div>
    </div>
  </section>
  
  <!-- footer-->
  <footer id="footer">
    <div class="container-fluid">
        <!-- redes sociales que NO TENGO -->
        <div class="social-icons mt-4">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-twitch"></i></a>
        </div>
    </div>
  </footer>
