<!-- educacion-->
<section id="educacion">
    <div class="container">
        <h1 class="text-center">Educacion <button *ngIf="usuarioAutentificado" id="editarEducacion"><i class='fas servicesIcon fa-feather'></i></button></h1>
        <div class="row">
            <div *ngFor="let item of educacion" class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                      <i class='fas servicesIcon {{item.icono}}'></i>
                      <h4 class="card-title mt-3" id="titulo1">{{item.titulo}}</h4>
                      <p class="card-text mt-3 text-center"id="institucion1">{{item.institucion}}</p>
                      <p class="card-text mt-3 text-center"id="anio1">{{item.anio}}</p>
                      <p class="card-text mt-3 text-center"><a  id="web1" href="{{item.web}}">{{item.web}}</a></p>
                    </div>
                </div>  
            </div>
            
        </div>
    </div>
  </section>
