/*habilidades*/

#habilidades .row {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: center;
  padding-bottom: 1vw;
}

#habilidades .progress-bar-animated {
  animation: animate 1s infinite;
}

#habilidades .progress {
  box-shadow: 0 0 5px #44c2f0, 0 0 10px #3cbfee, 0 0 15px #42c3f1,
    0 0 20px #4cc8f5;
}

#habilidades .botones {
display: flex;
justify-content: flex-end;
}
