<!--habilidades-->
<section id="habilidades">
    <div class="row">
      <h1 class="text-center">Habilidades <button id="editarHabilidades"><i class='fas servicesIcon fa-feather'></i></button></h1>
        <div class="col-lg-4 mt-4">
            <h2 class="text-center">Habilidades Blandas</h2>
            <h6 id="skill1">Trabajo en Equipo</h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="valorSkill1">90%</div>
              </div>
              <h6 id="skill2">Organizacion</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill2">80%</div>
              </div>
              <h6 id="skill3">Comunicacion</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill3">95%</div>
              </div>
              <h6 id="skill4">Liderazgo</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill4">75%</div>
              </div>
            </div>
        <div class="col-lg-4 mt-4">
              <h2 class="text-center"> Habilidades Duras </h2>
              <h6 id="skill5">Programacion</h6>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill5">70%</div>
              </div>
              <h6 id="skill6">Idiomas</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill6">70%</div>
              </div>
              <h6 id="skill7">Diseño grafico</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill7">65%</div>
              </div>
              <h6 id="skill8">Diseño 3D</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"id="valorSkill8">70%</div>
              </div>
        </div>
    </div>   
    </section>
  
