.navbarScroll.navbarDark {
    background-color: #33bbeb;
  }
  body {
    margin-left: 1%;
    margin-right: 1%;
    background-image: url("./assets/imagenes/fondo2.jpg")
  }
 
  /* separaciones */
  #acercade,
  #educacion,
  #experiencia,
  #contacto,
  #habilidades,
  #proyectos {
    overflow: hidden;
    margin-top: 4rem;
    padding-top: 4rem;
  }
  
  /*botones*/
  
  #editarAcercaDe,
  #editarEducacion,
  #eliminarEducacion,
  #editarExperiencia,
  #eliminarExperiencia,
  #editarHabilidadesBlandas,
  #editarHabilidadesDuras,
  #eliminarHabilidadesBlandas,
  #eliminarHabilidadesDuras,
  #editarProyectos,
  #eliminarProyectos {
    border-radius: 50%;
    border: 1px solid #33bbeb;
    color: #33bbeb;
    font-size: 30px;
    text-align: center;
  }
  
  #editarAcercaDe:hover,
  #editarEducacion:hover,
  #eliminarEducacion:hover,
  #editarExperiencia:hover,
  #eliminarExperiencia:hover,
  #editarHabilidadesBlandas:hover,
  #editarHabilidadesDuras:hover,
  #eliminarHabilidadesBlandas:hover,
  #eliminarHabilidadesDuras:hover,
  #editarProyectos:hover,
  #eliminarProyectos:hover {
      transform: rotateZ(360deg);
      animation: spin 2s infinite;
  }
  
  /*efectos*/
  
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  

  @media(max-width: 320px){ 
    #web{
      font-size: smaller;
    }
    #titulo{
      font-size:medium;
    }
    #institucion{
      font-size: medium;
    }
#educacion .servicesText.card{
  height: auto;
}
  #editarAcercaDe,
  #editarEducacion,
  #eliminarEducacion,
  #sumarEducacion,
  #editarExperiencia,
  #eliminarExperiencia,
  #editarHabilidades,
  #eliminarHabilidades,
  #editarProyectos,
  #eliminarProyectos {
    border-radius: 50%;
    border: 1px solid #33bbeb;
    color: #33bbeb;
    font-size: 20px;
    text-align: center;
  }

  /*#editarEducacion, #eliminarEducacion {
    width: 50px;
    height: 50px;
  }*/

  #editarEducacion{
    display: flex;
    align-self: flex-start;
  }
  }
  .ng-invalid:not(form).ng-touched{
    border-left: 5px solid #a94442;
  }
  
  .ng-valid:not(form).ng-touched{
    border-left: 5px solid #42a948;
  }